<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HisKio</title>
    <link rel="stylesheet" href="./static/CSS/style.css">
</head>

<body>
    <p>This document <em>one</em></p>
    <hr>
    <p>This is document <strong>two</strong></p>
    <ul>
        <li>this is line 1</li>
        <li>this is line 2</li>
        <ul>
            <li>2.1 this is line 2.1</li>
            <li>2.2 this is line 2.2</li>
        </ul>
    </ul>

    <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--bQ1m1psZ--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/0cekchk8xa7ssfi8zc8q.png" alt="image demo">
    <br>
    <img src="./static/images/170105-5100-04-jPOD4.jpg" alt="orange image">
    <h3>Reference</h3>
    <ol>
        <li><a href="https://www.google.com/">Google</a></li>
    </ol>
    <table id="table-data">
        <tr>
            <td>2011-2018</td>
            <td>Google</td>
        </tr>
        <tr>
            <td>2019-2022</td>
            <td>twitter</td>
        </tr>
    <hr>
    <table class="table-city">
        <tr>
          <td>國家</td>
          <td>首都</td>
          <td>人口</td>
          <td>語言</td>
        </tr>
        <tr>
          <td>USA</td>
          <td>Washington D.C.</td>
          <td>309 million</td>
          <td>English</td>
        </tr>
        <tr>
          <td>Sweden</td>
          <td>Stockholm</td>
          <td>9 million</td>
          <td>Swedish</td>
        </tr>
      </table>
    </table>
    <hr>
    <h4>Login</h4>
    <form action="" method="post">
        <label>Username:</label><input type="text" name="" id=""><br>
        <label>Password:</label><input type="password" name="" id=""><br>
        <input type="button" value="Login">
    </form>
    <br>
    <form action="" method="post">
        <label for="email">Enter your email address</label><br>
        <input type="email" id="email" pattern=".+@gmail.com" size="30" required><br>
    </form>
</body>

</html>